/*Common Css*/


/*Datatable*/
/*header & footer*/
.dataTables_wrapper .dataTables_length, 
.dataTables_filter, 
.dataTables_info, 
.dataTables_paginate {
   background-color: paleturquoise;

}

.dataTables_wrapper .dataTables_filter, 
.dataTables_wrapper .dataTables_paginate{ 
   float: none;
}

.dataTables_wrapper .dataTables_length label, 
.dataTables_wrapper .dataTables_filter label{ 
   padding: 0.175rem 0.5rem; 
   margin-bottom: 0rem; 
}

/*header left + right*/
.dataTables_wrapper .dataTables_length select,
.dataTables_wrapper .dataTables_filter input {
   background-color: #fff; padding: 0px;
}

/*Table body*/

table.dataTable { margin: 5px 0px; border-collapse: collapse; }

.table-bordered, .table-bordered td, .table-bordered th { /*border: 1px solid #dee2e6; border: 1px dashed;*/ }

table.dataTable thead th, table.dataTable.no-footer{ border-bottom: unset; }

table.dataTable thead th, 
table.dataTable thead td { padding: 2px 20px; text-transform: capitalize; 
   background-color: turquoise; text-align: center;
}

table.dataTable tbody td { text-align: center; vertical-align: middle; padding: 2px; }
table.dataTable tbody tr { background-color: whitesmoke; }


/*Buttom*/
.dataTables_wrapper .dataTables_info { padding: 0.5rem; }
.dataTables_wrapper .dataTables_paginate { padding: 0.25em; }

.dataTables_wrapper .dataTables_paginate .paginate_button { 
   min-width: 1.5em; padding: 0.2em 0.6em; margin-left: 2px;
}

.hide{ display: none; }

fieldset {
   border: 1px dashed #000 !important;
   border-radius: 0.50rem;
   padding: 0 1em 1em 1em !important;
   margin: 0 0 1.5em 0 !important;
   -webkit-box-shadow:  0px 0px 0px 0px #000;
   /*box-shadow:  0px 0px 2px 0px #000;*/
}

legend{ 
   width:inherit;
   font-size: 1em !important;
   font-weight: bold !important;
   text-align: center;
   border: 1px solid pink;
   background-color: whitesmoke;
   border-radius: 12px;   
   padding: 0px 10px; 
   margin-bottom:10px;
}

/**Alert error message*/*/
.alert { 
   margin-top: 0px; 
   position: absolute; 
   right: 0px; 
   z-index: 1; 
   color: #000;
   display: none;
}
.alert .close{
   color: #000 !important; 
   margin: 0 -8px 0px 10px;
   line-height: 20px; 
}
.alert .close:hover{ 
   color: black;
}

button:focus {
    outline: unset !important;
}












